{% INCLUDE 'overall_header.html' %}

<a name="maincontent"></a>

{% if U_BACK %}
	<a href="{{ U_BACK }}" style="float: right;">&laquo; {{ lang('BACK') }}</a>
{% endif %}

<h1>{{ lang('BC_PAGE_TITLE') }}</h1>
<p>{{ lang('BC_PAGE_DESC') }}</p>
<p><img src="https://img.shields.io/badge/{{ lang('Version') }}-{{ DM_VERSION }}-green.svg?style=plastic" title="{{ lang('Version') }} {{ DM_VERSION }}" /></p>

{% if not S_BREIZHCHARTS_EDIT %}
<form id="breizhchart_manage" method="post" action="{{ U_ACTION }}">
	<div class="pagination top-pagination">
	{% if pagination|length %}
		{% INCLUDE 'pagination.html' %}
	{% else %}
		&bull; {{ PAGE_NUMBER }}
	{% endif %}
	</div>
	<table cellspacing="1">
		<thead>
			<tr>
				<th style="width: 18%;text-align: center;">{{ lang('BC_SONG_TITLE') }}</th>
				<th style="width: 18%;text-align: center;">{{ lang('BC_SONG_ARTIST') }}</th>
				<th style="width: 15%;text-align: center;">{{ lang('BC_SONG_ALBUM') }}</th>
				<th style="width: 15%;text-align: center;">{{ lang('BC_ADDED_BY') }}</th>
				<th style="width: 10%;text-align: center;">{{ lang('BC_SONG_VIDEO') }}</th>
				<th style="width: 10%;text-align: center;">{{ lang('BC_LAST_RANK') }}</th>
				<th style="width: 8%;text-align: center;">{{ lang('ACTION') }}</th>
			</tr>
		</thead>
		<tbody>
		{% if charts|length %}
		{% for chart in charts %}
			<tr class="{% if chart.S_ROW_COUNT is even %}row1{% else %}row2{% endif %}">
				<td><strong>{{ chart.TITLE }}</strong></td>
				<td>{{ chart.ARTIST }}</td>
				<td>{{ chart.ALBUM }}</td>
				<td>{{ chart.USERNAME }}<br /><span style="font-size: 0.8em;">{{ chart.ADDED_TIME }}</span></td>
				<td style="text-align: center;">
					<img src="{{ chart.PICTURE }}" height="35px" alt="" title="{{ chart.TITLE_PIC }}" />
				</td>
				<td style="text-align: center;">{{ chart.LAST_RANK }}</td>
				<td style="text-align: center;"><a href="{{ chart.U_EDIT }}">{{ ICON_EDIT }}</a>&nbsp;&nbsp;<a href="{{ chart.U_DEL }}">{{ ICON_DELETE }}</a></td>
			</tr>
		{% endfor %}
		{% else %}
			<tr>
				<td colspan="7" style="text-align: center;">{{ lang('BC_NO_ENTRY') }}</td>
			</tr>
		{% endif %}
		</tbody>
	</table>
	<div class="pagination bottom-pagination">
	{% if pagination|length %}
		{% INCLUDE 'pagination.html' %}
	{% else %}
		&bull; {{ PAGE_NUMBER }}
	{% endif %}
	</div>

	<table cellspacing="1" >
		<tr>
			<td align="left">
				<form method="post" action="{{ S_LINKX_ACTION }}">
					{{ lang('SORT_BY') }} {{ S_SELECT_SORT_KEY }} {{ S_SELECT_SORT_DIR }}&nbsp;<input class="btnlite" type="submit" name="sort" value="{{ lang('GO') }}" />
				</form>
			</td>
		</tr>
	</table>
</form>

{% else %}
<form method="post" id="acp_music_edit" action="{{ U_ACTION }}" >
	<input type="hidden" name="id" value="{{ ID }}" />
	<fieldset>
		<legend>{{ lang('BC_EDIT') }}</legend>
		<dl>
			<dt><label for="song_name">{{ lang('BC_SONG_TITLE') }}:</label><br /><span>{{ lang('BC_SONG_TITLE_EXPLAIN') }}</span></dt>
			<dd><input onblur="breizhcharts.checkSongArtist()" required aria-required="true" type="text" name="song_name" id="song_name" size="70" value="{{ TITLE }}" /></dd>
		</dl>
		<dl>
			<dt><label for="artist">{{ lang('BC_SONG_ARTIST') }}:</label><br /><span>{{ lang('BC_SONG_ARTIST_EXPLAIN') }}</span></dt>
			<dd><input onblur="breizhcharts.checkSongArtist()" required aria-required="true" type="text" name="artist" id="artist" size="70" value="{{ ARTIST }}" /></dd>
			<dd id="check-song"></dd>
		</dl>
		<dl>
			<dt><label for="album">{{ lang('BC_SONG_ALBUM') }}:</label><br /><span>{{ lang('BC_SONG_ALBUM_EXPLAIN') }}</span></dt>
			<dd><input type="text" name="album" id="album" size="70" value="{{ ALBUM }}" /></dd>
		</dl>
		<dl>
			<dt><label for="year">{{ lang('BC_SONG_YEAR') }}:</label><br /><span>{{ lang('BC_SONG_YEAR_EXPLAIN') }}</span></dt>
			<dd><input type="text" name="year" id="year" size="4" value="{{ YEAR }}" /></dd>
		</dl>
		<dl>
			<dt><label for="video">{{ lang('BC_SONG_VIDEO') }}:</label><br /><span>{{ lang('BC_SONG_VIDEO_EXPLAIN') }}</span></dt>
			<dd><input onblur="breizhcharts.checkVideo()" required aria-required="true" type="text" id="video" tabindex="7" name="video" size="65" class="inputbox autowidth" spellcheck="false" value="{{ VIDEO }}" /></dd>
			<dd id="check-video"></dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<legend>{{ lang('SUBMIT') }}</legend>
		<input type="hidden" name="sk" value="{{ SK }}" />
		<input type="hidden" name="sd" value="{{ SD }}" />
		<input class="button1" id="submit" name="submit" value="{{ lang('SUBMIT') }}" type="submit" />&nbsp;
		<input class="button2" id="reset" name="reset" value="{{ lang('RESET') }}" type="reset" />
	</fieldset>
</form>
{% endif %}

{% INCLUDE 'overall_footer.html' %}