.navigation_songs {
	text-shadow: -2px 2px 2px #959dc5;
}

i.bzh-orange, i.bzh-blue, i.bzh-green, i.bzh-red, i.bzh-nav {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

a:hover i.bzh-orange, a:hover i.bzh-blue, a:hover i.bzh-green, a:hover i.bzh-red, a:hover i.bzh-nav,
i.bzh-orange:hover, i.bzh-blue:hover, i.bzh-green:hover, i.bzh-red:hover, i.bzh-nav:hover,
.button:hover i.bzh-orange, .button:hover i.bzh-blue, .button:hover i.bzh-green, .button:hover i.bzh-red, .button:hover i.bzh-nav {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

i.bzh-orange {
	color: orange;
}

a.report-button > i.bzh-blue {
	color: #3263d7;
}

a.button-icon-only > i.bzh-green {
	color: #3cc74c;
	font-size: 16px;
}

a.button-icon-only > i.bzh-red  {
	color: orangered;
	font-size: 16px;
}

a.navigation_songs > i.bzh-nav, a.navigation_songs > i.bzh-nav::before  {
	color: forestgreen;
	font-size: 0.8rem;
}

.navbar a.navigation_actual {
	color: orangered;
	font-weight: bold;
	font-size: 0.75rem;
}

a.navigation_actual > i.bzh-nav, a.navigation_actual > i.bzh-nav::before, a.navigation_songs > i.red-icon, a.navigation_songs > i.red-icon::before {
	color: orangered;
	font-size: 0.7rem;
}

.title_report {
	color: red;
	font-weight: bold;
	display: block;
	padding-bottom: 0.5em;
}

div.space {
	width: 100%;
	height: 6px;
}

h4.report, p.report {
	text-align: center;
	margin: 6px 0;
}

#nav-charts {
	margin-bottom: 1.1em;
}

#nav-charts ul.nav-main {
	margin: 0;
	padding: 2px 0;
	display: block;
	height: 2.2em;
	list-style-type: none;
}

#nav-charts ul.nav-main li {
	float: left;
	font-size: 0.7rem;
	line-height: 2em;
	list-style-type: none;
	margin-right: 7px;
	padding-top: 1px;
	width: auto;
}

#nav-charts ul.nav-main li.report {
	float: right;
}

#nav-charts ul.nav-main.nav-second {
	float: none;
	display: block;
	text-align: center;
}

#nav-charts ul.nav-main.nav-second li.user-nav {
	float: none;
	text-align: center;
	margin: auto;
	line-height: 1.2em;
}

#smilies_core {
	font-weight: bold;
}

#span_view {
	font-size: 0.6rem;
}

div.contener-flex {
	display:flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	align-content: center;
    align-items: stretch;
	margin: 5px 0;
}

div.item-flex-1 {
	width: 33%;
	display: grid;
	text-align: left;
	justify-content: left;
	align-items: center;
}

div.item-flex-2 {
	text-align: center;
	width: 33%;
}

div.item-flex-3 {
	text-align: right;
	width: 33%;
	font-size: 0.7rem;
}

div.rand-left {
	width: 50%;
	float: left;
}

div.rand-right {
	width: 50%;
	float: right;
}

div.rand-flex-1 {
	align-content: center;
	text-align: center;
	width: 25%;
	font-size: 0.7rem;
}

div.rand-flex-2 {
	align-content: center;
	text-align: center;
	width: 60%;
	font-size: 0.7rem;
}

dl.tab_charts > dd {
	font-size: 0.6rem;
	align-content: center;
	text-align: center;
}

textarea.bzh {
	width: 80%;
}

select.midle {
	font-size: 10px
}

dl.dl-default {
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
}

div.rated {
	background: url("./images/rated.png") no-repeat;
	padding-right: 3px;
	width: 12px;
	height: 11px;
	display: inline-block;
	vertical-align: middle;
}

div.title-pm {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

div.uploaders {
	background-color: #D5ECE6;
	color: #2A5CBC;
	margin: 10px 0;
	font-size: 0.7rem;
	padding: 5px 10px;
	border-radius: 7px;
}

div.on_left {
	float: left;
}

div.not-rated {
	background: url("./images/rated_no.png") no-repeat;
	padding-right: 3px;
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
}

div.message-box {
	width: 80%;
	float: left;
}

div.bc-smilies {
	float: right;
	width: 18%;
	max-height: 300px;
	overflow: auto;
}

div.second-smilies {
	max-height: 250px;
	overflow: auto;
}

div.bc-smilies > a > img {
	margin: 3px;
}

ul.topiclist.forums > li.row-random {
	margin-left: 4px;
}

@keyframes blink-song {
	from {color: white;}
    to {color: red;}
}

@-webkit-keyframes blink-song {
	from {color: blue;}
    to {color: red;}
}

img.thumbnail {
	max-height: 65px;
}

.new-song {
	color: red;
	animation: blink-song 2s steps(2, start) infinite;
	-webkit-animation: blink-song 2s steps(2, start) infinite;
}

h2.charts {
	margin: 0.7rem 0;
}

.user-navigation {
	display: block;
	margin: 3px auto;
	text-align: center;
}

dl.title_tab {
	font-size: 0.7rem;
	font-weight: bold;
	display: flex;
	align-content: center;
	align-items: center;
}

dl.content_tab {
	text-align: center;
}

ul.topiclist dt.fantom {
	width: 0;
	margin-right: 0;
	font-size: 1px;
}

ul.topiclist li.bg3 dl.title_tab dd {
	text-align: center;
	font-weight: bold;
}

ul.topiclist li.reported {
	background-color: turquoise; !important
}

.centered {
	text-align: center;
}

div.add-time {
	font-size: 0.55rem;
	margin-top: 5px;
	display: block;
}

div.rate-video {
	float: right;
}

div.rate-video > ul.post-buttons {
	margin: 15px 0;
}

div.bzh-tendency {
	display: block;
	margin-top: 3px;
}

div.bzh-tendency span, div.bzh-box span, ul.bzh-box span {
	font-weight: bold;
}

div.bzh-box {
	margin-top: 6px;
	padding: 0;
	line-height: 1.3em;
}

div.close {
	text-align: center;
	width: 100%;
	font-weight: bold;
}

#error.error strong {
	color: initial;
}

.bzh-clr {
	clear: both;
}

span.song-title, a.song-title {
	font-size: 0.7rem;
	font-weight: bold;
	padding: 0 3px;
}

a.report-button {
	padding: 3px;
}

span.position {
	color: darkgreen;
	font-size: 0.7rem;
}

span.total {
	color: #ff6000;
}

span.actions-report {
	margin: 2px 6px;
}

img.youtube-img {
	vertical-align: baseline;
}

h3.video-title {
	margin-top: 8px;
}

dt.label {
	width: 40%;
}

.mini {
	font-size: 9px;
}

.medium {
	font-size: 0.7rem;
}

.maxi {
	font-size: 13px;
}

.width-7 {
	width: 7%;
}

.width-8 {
	width: 8%;
}

.width-10 {
	width: 10%;
}

.width-12 {
	width: 12%;
}

.width-13 {
	width: 13%;
}

.width-14 {
	width: 14%;
}

.width-15 {
	width: 15%;
}

.width-17 {
	width: 17%;
}

.width-18 {
	width: 18%;
}

.width-20 {
	width: 20%;
}

.width-22 {
	width: 22%;
}

.width-23 {
	width: 23%;
}

.width-31 {
	width: 31%;
}

.width-32 {
	width: 32%;
}

.width-33 {
	width: 33%;
}

.width-34 {
	width: 34%;
}

.width-40 {
	width: 40%;
}

.width-50 {
	width: 50%;
}

dd.allmax, ul.allmax {
	width: 100%;
}

div.winnners {
	margin: 10px 1px 1px 8px;
	text-align: center;
}

div.video-div {
	margin: 10px 1px 1px 8px;
}

.undisplay {
	display: none;
}

.video-frame {
	text-align: center;
}

:not(#defil-ext, #base_ul).topiclist.forums dl {
	overflow: visible;
	display: flex;
}

:not(#defil-ext, #base_ul).topiclist.forums li.row dd {
	padding: 4px 0;
	margin-bottom: 0;
}

dd.centered {
	width: 100%;
	text-align: center;
}

div.winners {
	display: table;
	margin: auto;
	width: 100%;
	padding: 8px 2px 2px 2px;
}

div.content_win {
	display: table-row;
	padding: 0;
	margin: 0;
}

span.row_winners {
	display: table-cell;
	text-align: center;
}

span.quart {
	width: 25%;
}

/* Css for ajaxvote */
.song-nforate {
	margin: auto;
	text-align: center;
}

.bzh-inline-rating {
	display: inline-block;
	vertical-align: middle;
	line-height: 10px;
}

.bzh-star-rating, .bzh-star-rating a:hover, .bzh-star-rating .current-rating , .bzh-star-rating .current-not-rating{
	background: url("./images/stars.png") left -1000px repeat-x;
}

.bzh-star-rating {
	position: relative;
	background-position: 0 0;
	width: 100px;
	height: 10px;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}

.bzh-star-rating li {
	display: inline;
	background-image: none;
	padding: 0;
}

.bzh-star-rating a, .bzh-star-rating .current-rating , .bzh-star-rating .current-not-rating {
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -1000px;
	height: 10px;
	line-height: 10px;
	outline: none;
	overflow: hidden;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.bzh-star-rating a.one-star, .bzh-star-rating a.star-1		{ width: 10%; z-index: 11; }
.bzh-star-rating a.two-star, .bzh-star-rating a.star-2		{ width: 20%; z-index: 10; }
.bzh-star-rating a.three-star, .bzh-star-rating a.star-3	{ width: 30%; z-index: 9; }
.bzh-star-rating a.four-star, .bzh-star-rating a.star-4		{ width: 40%; z-index: 8; }
.bzh-star-rating a.five-star, .bzh-star-rating a.star-5		{ width: 50%; z-index: 7; }
.bzh-star-rating a.six-star, .bzh-star-rating a.star-6		{ width: 60%; z-index: 6; }
.bzh-star-rating a.seven-stars, .bzh-star-rating a.star-7	{ width: 70%; z-index: 5; }
.bzh-star-rating a.eight-stars, .bzh-star-rating a.star-8	{ width: 80%; z-index: 4; }
.bzh-star-rating a.nine-stars, .bzh-star-rating a.star-9	{ width: 90%; z-index: 3; }
.bzh-star-rating a.ten-stars, .bzh-star-rating a.star-10	{ width: 100%; z-index: 2; }

.bzh-star-rating a:hover {
	background-position: 0 -20px;
}

.bzh-star-rating .current-rating {
	z-index: 1;
	background-position: 0 -30px;
}

.bzh-star-rating .current-not-rating {
	z-index: 1;
	background-position: 0 -10px;
}

/* Divs for result vote */
#result-div {
	top: 100px;
	left: 40%;
	width: 300px;
	position: fixed;
	z-index: 100;
	display: none;
	opacity: 0.93;
    background-color: #fff;
    border: 2px solid #1c1b1b;
    border-radius: 7px;
	padding: 5px;
    overflow: hidden;
	font-size: 0.6rem;
	text-align: center;
}

#result-div span.succes-div {
	background: url("./images/rated.png") 0 40% no-repeat;
	padding-left: 26px;
	vertical-align: bottom;
	/*color: #60ae4a;*/
}

#result-div span.error-div {
	background: url("./images/rated_no.png") 0 40% no-repeat;
	padding-left: 26px;
	vertical-align: bottom;
	/*color: #c40909;*/
}
