{% INCLUDE 'overall_header.html' %}

{% INCLUDE '@sylver35_breizhcharts/navigation.html' %}
<br>

<form id="postform" method="post" action="{{ S_POST_ACTION }}" onsubmit="return checkForm(this);">
	<div class="panel" id="postingbox">
		<div class="inner">
			<h3>{{ TITLE_PAGE }}</h3>
			{% if BC_ERROR %}
			<p class="error">{{ BC_ERROR }}</p>
			{% endif %}
			<fieldset>
				<legend class="sr-only">{{ TITLE_PAGE }}</legend>
				<div class="margin-bottom-1em">{{ lang('BC_NEEDED') }} <i class="icon icon-red fa-youtube-play fa-fw" aria-hidden="true"></i></div>
				<dl>
					<dt><label for="song_name"><span aria-hidden="true">[*] </span>{{ lang('BC_SONG_TITLE') ~ lang('COLON') }}</label><br>{{ lang('BC_SONG_TITLE_EXPLAIN') }}</dt>
					<dd><input onblur="breizhcharts.checkSongArtist()" required type="text" id="song_name" name="song_name" size="65" class="inputbox autowidth" value="{{ CHART_SONG_NAME }}"></dd>
				</dl>
				<dl>
					<dt><label for="artist"><span aria-hidden="true">[*] </span>{{ lang('BC_SONG_ARTIST') ~ lang('COLON') }}</label><br>{{ lang('BC_SONG_ARTIST_EXPLAIN') }}</dt>
					<dd><input onblur="breizhcharts.checkSongArtist()" required type="text" id="artist" name="artist" size="65" class="inputbox autowidth" value="{{ CHART_ARTIST }}"></dd>
					<dd id="check-song" class="check-info"></dd>
				</dl>
				<dl>
					<dt><label for="album">{% if S_REQ_1 %}<span aria-hidden="true">[*] </span>{% endif %}{{ lang('BC_SONG_ALBUM') ~ lang('COLON') }}</label><br>{{ lang('BC_SONG_ALBUM_EXPLAIN') }}</dt>
					<dd><input type="text" id="album" name="album"{% if S_REQ_1 %} required {% endif %} size="65" class="inputbox autowidth" value="{{ CHART_ALBUM }}"></dd>
				</dl>
				<dl>
					<dt><label for="year">{% if S_REQ_2 %}<span aria-hidden="true">[*] </span>{% endif %}{{ lang('BC_SONG_YEAR') ~ lang('COLON') }}</label><br>{{ lang('BC_SONG_YEAR_EXPLAIN') }}</dt>
					<dd><input type="number" id="year" name="year"{% if S_REQ_2 %} required {% endif %} size="4" class="inputbox autowidth" value="{{ CHART_YEAR }}"></dd>
				</dl>
				<dl>
					<dt><label for="cat"><span aria-hidden="true">[*] </span>{{ lang('BC_SONG_CAT') ~ lang('COLON') }}</label><br>{{ lang('BC_SONG_CAT_EXPLAIN') }}</dt>
					<dd>
						<select name="cat" id="cat" required="required">
							{{ SELECT_CATS }}
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label for="video"><span aria-hidden="true">[*] </span>{{ lang('BC_SONG_VIDEO') ~ lang('COLON') }}</label><br>{{ lang('BC_SONG_VIDEO_EXPLAIN') }}</dt>
					<dd><input onblur="breizhcharts.checkVideo()" required type="text" id="video" name="video" size="65" class="inputbox autowidth" spellcheck="false" value="{{ CHART_VIDEO }}"></dd>
					<dd id="check-video" class="check-info"></dd>
				</dl>
				{% if S_COMMENT %}
				<dl>
					<dt><label for="comment">{{ lang('BC_COMMENT') ~ lang('COLON') }}</label><br>{{ lang('BC_COMMENT_EXPLAIN') }}</dt>
					<dd><textarea type="text" id="comment" name="comment" size="65" class="inputbox" spellcheck="true" value="{{ CHART_COMMENT }}"></textarea></dd>
				</dl>
				{% endif %}
			</fieldset>
		</div>
	</div>

	<div class="panel bg2">
		<div class="inner">
			<fieldset class="submit-buttons">
				<span id="result-span" class="hidden"></span>
				<input type="hidden" id="ex_cat" name="ex_cat" value="{{ CHART_CAT }}">
				<input type="hidden" id="ex_cat_nb" name="ex_cat_nb" value="{{ CAT_NB }}">
				<input type="submit" accesskey="s" id="button" name="post" value="{{ lang('SUBMIT') }}" title="{{ lang('SUBMIT') }}" class="button1">
				<input type="Button" accesskey="c" onclick="window.history.go(-1); return false;" value="{{ lang('CANCEL') }}" title="{{ lang('CANCEL') }}" class="button1">
				{{ S_HIDDEN_FIELDS }}
				{{ S_FORM_TOKEN }}
			</fieldset>
		</div>
	</div>
</form>

{% INCLUDE 'overall_footer.html' %}
