{% INCLUDE 'overall_header.html' %}

{% EVENT breizhcharts_header %}

{% INCLUDE '@sylver35_breizhcharts/navigation.html' %}

{% if SELECT_WINS %}
<div class="action-bar bar-top litle-pagin on_left">
	{{ lang('BC_LAST_WINNERS_SELECT') }} <select id="select_wins" onchange="window.location=this.options[this.selectedIndex].value;">{{ SELECT_WINS }}</select>
</div>
{% endif %}
<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
						<div class="list-inner">{{ lang('BC_CHARTS') }} - {{ TITLE_PAGE }}</div>
					</dt>
					<dd class="lastpost"></dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums medium allmax">
			<li class="row bg3">
				<dl class="title_tab">
					<dt class="fantom"></dt>
					<dd class="width-7">{{ lang('BC_RANK') }}</dd>
					<dd class="width-50">{{ lang('BC_SONG_TITLE') }}</dd>
					<dd class="width-10">{{ lang('BC_SONG_VIDEO') }}</dd>
					<dd class="width-10">{{ lang('BC_USER') }}</dd>
					<dd class="width-15">{{ lang('BC_LAST_POS') }}</dd>
					{% if S_UPS %}
					<dd class="width-7">{{ lang('BC_WON') }}</dd>
					{% endif %}
				</dl>
			</li>
			{% if winners|length %}
			{% for winner in winners %}
			<li class="row {% if winner.NB is even %}bg2{% else %}bg1{% endif %}">
				<dl class="content_tab tab_charts">
					<dt class="fantom"></dt>
					<dd class="width-7">
						<div class="video-div">
							{% if winner.NB > 3 %}
							<a href="#" title="{{ winner.RANK }}" class="button button-icon-only"><span class="song-title position">{{ winner.RANK }}</span></a>
							{% else %}
							{{ winner.RANK }}
							{% endif %}
						</div>
					</dd>
					<dd class="width-50">
						<div class="video-div">
							<span class="song-title"><a href="{{ winner.U_SHOW_VIDEO }}" onclick="popup(this.href,700,410); return false;" title="{{ winner.VIDEO }}">{{ winner.SONG }}</a> {{ lang('BC_FROM') }} {{ winner.ARTIST }}</span>
						</div>
					</dd>
					<dd class="width-10">
						<a href="{{ winner.U_SHOW_VIDEO }}" onclick="popup(this.href,700,410); return false;" title="{{ winner.VIDEO }}">
							<img src="{{ winner.THUMBNAIL }}" alt="{{ winner.SONG }}" height="45px">
						</a>
					</dd>
					<dd class="width-10">
						{{ winner.USER }}
					</dd>
					<dd class="width-15">
						<div class="song-nforate">
							<div class="bzh-inline-rating">
								<ul class="bzh-star-rating">
									<li class="current-rating" style="width: {{ winner.RESULT }}%;"></li>
									<li><a title="{{ winner.TITLE_RATE }}" class="one-star">1</a></li>
									<li><a title="{{ winner.TITLE_RATE }}" class="two-star">2</a></li>
									<li><a title="{{ winner.TITLE_RATE }}" class="three-star">3</a></li>
									<li><a title="{{ winner.TITLE_RATE }}" class="four-star">4</a></li>
									<li><a title="{{ winner.TITLE_RATE }}" class="five-star">5</a></li>
									<li><a title="{{ winner.TITLE_RATE }}" class="six-star">6</a></li>
									<li><a title="{{ winner.TITLE_RATE }}" class="seven-stars">7</a></li>
									<li><a title="{{ winner.TITLE_RATE }}" class="eight-stars">8</a></li>
									<li><a title="{{ winner.TITLE_RATE }}" class="nine-stars">9</a></li>
									<li><a title="{{ winner.TITLE_RATE }}" class="ten-stars">10</a></li>
								</ul>
							</div>
							<div class="bzh-box">
								{{ winner.TOTAL_RATE }}<br>
								{{ winner.SONG_RATED }}<br>
							</div>
							<div class="bzh-clr"></div>
						</div>
					</dd>
					{% if S_UPS %}
					<dd class="width-7">
						<div class="winnners">
							{{ winner.WIN }}
						</div>
					</dd>
					{% endif %}
				</dl>
			</li>
			{% endfor %}
			{% else %}
			<li class="row">
				<dl class="dl-default">
					<dd class="allmax">
						{{ lang('BC_NO_VOTES') }}
					</dd>
				</dl>
			</li>
			{% endif %}
		</ul>
	</div>
</div>

{% if S_BONUS_WINNER %}
<br>
<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>{{ lang('BC_BONUS_WINNER_HEADER') }}</dt>
					<dd></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums medium allmax">
			<li class="row">
				<dl class="maxi centered">
					<dd class="allmax">
						{{ BONUS_WINNER }}
					</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
{% endif %}
<br>

{% EVENT breizhcharts_footer %}

{% INCLUDE 'overall_footer.html' %}