{% INCLUDE 'overall_header.html' %}

{% EVENT breizhcharts_header %}

{% INCLUDE '@sylver35_breizhcharts/rules.html' %}

{% INCLUDE '@sylver35_breizhcharts/navigation.html' %}

<div id="contener" class="d-flex align-center space-between margin-bottom-1em">
	<div class="font-larger">
		<label for="cat-genre">{{ lang('BC_SONG_CAT') ~ lang('COLON') }}</label><select name="cat" id="cat-genre" onchange="window.location=this.options[this.selectedIndex].value">{{ SELECT_CATS }}</select>
	</div>
	<div class="pagination">
		{{ TOTAL_CHARTS }}
		{% if pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
</div>

<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
						<div class="list-inner">{{ lang('BC_CHARTS') }} - {{ TITLE_PAGE }}</div>
					</dt>
					<dd>&nbsp;</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums d-table">
			<li class="row bg3 d-tableheading">
				<div class="d-tablerow cell-border">
					<div class="d-tablehead">{{ lang('BC_CURR_POS') }}</div>
					<div class="d-tablehead responsive-hide">{{ lang('BC_SONG_CAT') }}</div>
					<div class="d-tablehead">{{ lang('BC_SONG_TITLE') }} | {{ lang('BC_SONG_ARTIST') }}<br>{{ lang('BC_SONG_ALBUM') }} | {{ lang('BC_SONG_YEAR') }}</div>
					<div class="d-tablehead">{{ lang('BC_SONG_VIDEO') }}</div>
					<div class="d-tablehead responsive-hide">{{ lang('BC_ADDED_BY') }}</div>
					<div class="d-tablehead">{{ lang('BC_RATE') }}</div>
					{% if S_ACTIV_PERIOD %}
					<div class="d-tablehead">{{ lang('BC_LAST_POS') }}</div>
					{% endif %}
				</div>
			</li>
			{% for chart in charts if charts %}
			<li class="row {{ chart.S_ROW_COUNT is even ? 'bg1' : 'bg2' }} d-tablebody{{ S_REPORTS_LIST and (chart.S_REPORTED and chart.S_REPORT) ? ' reported' }}" id="li-{{ chart.SONG_ID }}">
				<div class="d-tablerow cell-border">
					<div class="d-tablecell">
						<span class="font-larger font-bold" title="{{ lang('BC_CURR_POS') ~ lang('COLON') }} {{ chart.POSITION }}">
							{% if chart.POSITION <= 3 %}
							<i class="fa fa-trophy fa-fw rank-icon rank-{{ chart.POSITION }}"><span class="rank-text">{{ chart.POSITION }}</span></i>
							{% else %}
							<a href="#" title="{{ lang('BC_CURR_POS') }}{{ lang('COLON') }} {{ chart.POSITION }}" class="button button-icon-only"><span class="song-title position">{{ chart.POSITION }}</span></a>
							{% endif %}
						</span>
						<div class="space"></div>
						{% if chart.U_DELETE_SONG %}
						<a href="{{ chart.U_DELETE_SONG }}" title="{{ lang('BC_DELETE_SONG') }}" class="button button-icon-only"><i class="icon icon-red bzh-rotate fa fa-trash"></i><span class="sr-only">{{ lang('BC_DELETE_SONG') }}</span></a>
						{% endif %}
						{% if chart.U_EDIT_SONG %}
						<a href="{{ chart.U_EDIT_SONG }}" title="{{ lang('BC_EDIT_SONG') }}" class="button button-icon-only"><i class="icon icon-green bzh-rotate fa fa fa-wrench"></i><span class="sr-only">{{ lang('BC_EDIT_SONG') }}</span></a>
						{% endif %}
					</div>
					<div class="d-tablecell responsive-hide">
						<span class="song-title">{{ chart.CAT }}</span>
					</div>
					<div class="d-tablecell">
						<span class="song-title">{{ chart.TITLE }}{% if S_REPORTS_LIST and (chart.S_REPORTED and chart.S_REPORT) %} <a href="{{ chart.U_REPORTED }}" title="{{ lang('BC_REPORTED') }}"><i class="icon icon-red bzh-rotate fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BC_REPORTED') }}</span></a>{% endif %}</span><br>
						{{ chart.ARTIST }}
						<br>
						{{ chart.ALBUM }}
						{{ chart.ALBUM and chart.YEAR ? ' | ' }}
						{{ chart.YEAR }}
						{% if chart.U_TOPIC_VIDEO %}
						<br><a href="{{ chart.U_TOPIC_VIDEO }}">{{ lang('BC_SEE_TOPIC') }}</a>
						{% endif %}
						<br>
						<a href="{{ chart.U_SHOW_POPUP }}" onclick="popup(this.href,700,430); return false;" title="{{ chart.VIDEO }}">{{ lang('BC_SHOW_VIDEO_POPUP') }}</a>
					</div>
					<div class="d-tablecell">
						<div>
							<a href="{{ chart.U_SHOW_VIDEO }}" title="{{ chart.VIDEO }}">
								<img src="{{ chart.THUMBNAIL }}" alt="{{ chart.TITLE }}" width="80" height="60" class="bzh-thumbnail">
							</a>
						</div>
					</div>
					<div class="d-tablecell responsive-hide">
						{{ chart.USERNAME }}
						<div class="add-time"><i>{{ chart.ADDED_TIME }}</i></div>
						{{ chart.TITLE_SONG_VIEW }}
					</div>
					<div class="d-tablecell" id="bzh_vote-{{ chart.SONG_ID }}">
						<div class="song-nforate">
							<div class="bzh-inline-rating responsive-hide">
								<ul class="bzh-star-rating" id="stars-{{ chart.SONG_ID }}">
									{{ chart.STARS_VOTE }}
								</ul>
							</div>
							<div id="bzh_result-{{ chart.SONG_ID }}" class="bzh-box">
								{{ chart.TOTAL_RATE }}<br>
								{{ chart.SONG_RATED }}<br>
								<div class="d-inline-flex vote-info {{ chart.VOTED_IMG }}">{{ chart.USER_VOTE }}</div>
							</div>
							<div class="bzh-clr"></div>
						</div>
					</div>
					{% if S_ACTIV_PERIOD %}
					<div class="d-tablecell">
						{{ chart.TENDENCY_IMG }}
						<div class="bzh-tendency">
							{{ chart.ACTUAL }}<br>
							{{ chart.LAST }}<br>
							{{ chart.BEST }}
						</div>
					</div>
					{% endif %}
				</div>
			</li>
			{% else %}
			<li class="bg2 d-tablecaption caption-bottom">
				<div class="no-result">{{ lang('BC_NO_SONGS') }}</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="action-bar bottom">
	<div class="pagination">
		{{ TOTAL_CHARTS }}
		{% if pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
</div>

<div class="rules">
	<div class="inner">
		{% if S_USERS_VOTED %}
			<input id="list_ids" type="hidden" value="{{ LIST_IDS }}">
			{{ VOTED_USERS }} {{ LIST_USER_VOTED }}
		{% else %}
			{{ lang('BC_NO_VOTERS') }}
		{% endif %}
	</div>
</div>

<div class="uploaders">
	<div class="inner">
		{% if S_UPLOADERS %}
			<input id="list_ups" type="hidden" value="{{ LIST_UPS }}">
			{{ UPLOADERS }} {{ LIST_UPLOADERS }}
		{% else %}
			{{ lang('BC_NO_SONGS') }}
		{% endif %}
	</div>
</div>

<div id="result-div" class="bzh-modal"></div>

<br>

{% EVENT breizhcharts_footer %}

{% INCLUDE 'overall_footer.html' %}
