{% INCLUDE 'overall_header.html' %}

{% INCLUDE '@sylver35_breizhcharts/navigation.html' %}
<br>

<form id="postform" method="post" action="{{ S_POST_ACTION }}" onsubmit="return checkForm(this);">
	<div class="panel" id="postingbox">
		<div class="inner">
			<h3>{{ TITLE_PAGE }}</h3>
			{% if BC_ERROR %}
			<p class="error">{{ BC_ERROR }}</p>
			{% endif %}
			<fieldset>
				<dl>
					<dt class="label mini">{{ lang('BC_NEEDED') }} <img src="{{ U_EXT_PATH }}images/youtube.png" class="youtube-img" alt="youtube" height="12"><br><br></dt>
				</dl>
				<dl>
					<dt class="label"><label for="song_name" >[*] {{ lang('BC_SONG_TITLE') }}{{ lang('COLON') }}</label><br>{{ lang('BC_SONG_TITLE_EXPLAIN') }}</dt>
					<dd><input onblur="breizhcharts.checkSongArtist()" required aria-required="true" type="text" id="song_name" tabindex="1" name="song_name" size="65" class="inputbox autowidth" value="{{ CHART_SONG_NAME }}"></dd>
				</dl>
				<dl>
					<dt class="label"><label for="artist">[*] {{ lang('BC_SONG_ARTIST') }}{{ lang('COLON') }}</label><br>{{ lang('BC_SONG_ARTIST_EXPLAIN') }}</dt>
					<dd><input onblur="breizhcharts.checkSongArtist()" required aria-required="true" type="text" id="artist" tabindex="2" name="artist" size="65" class="inputbox autowidth" value="{{ CHART_ARTIST }}"></dd>
					<dd id="check-song"></dd>
				</dl>
				<dl>
					<dt class="label"><label for="album">{% if S_REQ_1 %}[*] {% endif %}{{ lang('BC_SONG_ALBUM') }}{{ lang('COLON') }}</label><br>{{ lang('BC_SONG_ALBUM_EXPLAIN') }}</dt>
					<dd><input type="text" id="album" tabindex="3" name="album"{% if S_REQ_1 %} required aria-required="true"{% endif %} size="65" class="inputbox autowidth" value="{{ CHART_ALBUM }}"></dd>
				</dl>
				<dl>
					<dt class="label"><label for="year">{% if S_REQ_2 %}[*] {% endif %}{{ lang('BC_SONG_YEAR') }}{{ lang('COLON') }}</label><br>{{ lang('BC_SONG_YEAR_EXPLAIN') }}</dt>
					<dd><input type="text" id="year" name="year"{% if S_REQ_2 %} required aria-required="true"{% endif %} tabindex="5" size="4" class="inputbox autowidth" value="{{ CHART_YEAR }}"></dd>
				</dl>
				<dl>
					<dt class="label"><label for="cat">[*] {{ lang('BC_SONG_CAT') }}{{ lang('COLON') }}</label><br>{{ lang('BC_SONG_CAT_EXPLAIN') }}</dt>
					<dd>
						<select name="cat" id="cat" required="required" aria-required="true">
							{{ SELECT_CATS }}
						</select>
					</dd>
				</dl>
				<dl>
					<dt class="label"><label for="video">[*] {{ lang('BC_SONG_VIDEO') }}{{ lang('COLON') }}</label><br>{{ lang('BC_SONG_VIDEO_EXPLAIN') }}</dt>
					<dd><input onblur="breizhcharts.checkVideo()" required aria-required="true" type="text" id="video" tabindex="7" name="video" size="65" class="inputbox autowidth" spellcheck="false" value="{{ CHART_VIDEO }}"></dd>
					<dd id="check-video"></dd>
				</dl>
				{% if S_COMMENT %}
				<dl>
					<dt class="label"><label for="comment">{{ lang('BC_COMMENT') }}{{ lang('COLON') }}</label><br>{{ lang('BC_COMMENT_EXPLAIN') }}</dt>
					<dd><textarea type="text" id="comment" tabindex="8" name="comment" size="65" class="inputbox" spellcheck="true" value="{{ CHART_COMMENT }}"></textarea></dd>
				</dl>
				{% endif %}
			</fieldset>
		</div>
	</div>

	<div class="panel bg2">
		<div class="inner">
			<fieldset class="submit-buttons">
				<span id="result-span" class="undisplay"></span>
				<input type="hidden" id="ex_cat" name="ex_cat" value="{{ CHART_CAT }}">
				<input type="hidden" id="ex_cat_nb" name="ex_cat_nb" value="{{ CAT_NB }}">
				{% if not BC_ERROR %}
				<input type="submit" tabindex="8" accesskey="s" id="button" name="post" value="{{ lang('SUBMIT') }}" title="{{ lang('SUBMIT') }}" class="button1">
				{% endif %}
				<input type="Button" tabindex="9" accesskey="c" onclick="window.history.go(-1); return false;" value="{{ lang('CANCEL') }}" title="{{ lang('CANCEL') }}" class="button1">
				{{ S_HIDDEN_FIELDS }}
				{{ S_FORM_TOKEN }}
			</fieldset>
		</div>
	</div>
</form>

<br>

{% INCLUDE 'overall_footer.html' %}