<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
						<div class="list-inner">{{ lang('BC_CHARTS') }} | {{ lang('BC_SONG_RANDOM') }}</div>
					</dt>
					<dd class="lastpost"></dd>
				</dl>
				{% if S_COLLAPSE %}
				{% set S_CC_FORUM_HIDDEN = S_BREIZCHARTS_HIDDEN %}
				{% set U_CC_COLLAPSE_URL = U_BREIZCHARTS_COLLAPSE %}
				{% include '@phpbb_collapsiblecategories/collapsible_categories_button.html' %}
				{% endif %}
			</li>
		</ul>
		<ul class="topiclist forums">
			<li class="row bg1">
				{% include 'random_block.html' %}
			</li>
		</ul>
	</div>
</div>
