{% INCLUDE 'overall_header.html' %}

{% INCLUDE '@sylver35_breizhcharts/navigation.html' %}

<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
						<div class="list-inner">{{ lang('BC_CHARTS') }} - {{ TITLE_PAGE }}</div>
					</dt>
					<dd>&nbsp;</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums d-table">
			<li class="bg3 d-tableheading">
				<div class="d-tablerow cell-border">
					<div class="d-tablehead">{{ lang('REASON') }}</div>
					<div class="d-tablehead">{{ lang('BC_REPORTED_BY') }}</div>
					<div class="d-tablehead">{{ lang('BC_SONG_TITLE') }} | {{ lang('BC_SONG_ARTIST') }}</div>
					<div class="d-tablehead">{{ lang('BC_SONG_VIDEO') }}</div>
					<div class="d-tablehead">{{ lang('BC_ADDED_BY') }}</div>
				</div>
			</li>
			{% for chart in charts if charts %}
			<li class="row d-tablebody {% if chart.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}" id="li-{{ chart.SONG_ID }}">
				<div class="d-tablerow cell-border">
					<div class="d-tablecell">
						<div class="font-bold">{{ chart.REASON }}</div>
						<br>
						<a href="{{ chart.U_VIEW_REPORT }}" class="button song-title report-button"><i class="icon icon-red bzh-rotate fa fa-exclamation-triangle"></i> <span class="responsive-hide">{{ lang('BC_REPORT_GO') }}</span></a>
					</div>
					<div class="d-tablecell">
						<div>{{ chart.REPORTNAME }}</div>
						<i>{{ chart.REPORT_TIME }}</i>
					</div>
					<div class="d-tablecell">
						<span class="song-title">{{ chart.TITLE }}</span><br>
						{{ chart.ARTIST }}
						<br>
						{{ chart.ALBUM }}
						<br>
						<a href="{{ chart.U_SHOW_POPUP }}" onclick="popup(this.href,700,430);return false;" title="{{ chart.VIDEO }}">{{ lang('BC_SHOW_VIDEO_POPUP') }}</a>
					</div>
					<div class="d-tablecell">
						<a href="{{ chart.U_SHOW_VIDEO }}" title="{{ chart.VIDEO }}">
							<img src="{{ chart.THUMBNAIL }}" alt="{{ chart.TITLE }}" width="80" height="60" class="bzh-thumbnail">
						</a>
					</div>
					<div class="d-tablecell">
						<div>{{ chart.USERNAME }}</div>
						<i>{{ chart.ADDED_TIME }}</i>
					</div>
				</div>
			</li>
			{% else %}
			<li class="bg2 d-tablecaption caption-bottom">
				<div class="no-result">{{ lang('BC_NO_SONGS') }}</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<br>

{% INCLUDE 'overall_footer.html' %}
